body{
  margin: 0;
}

.containt {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(auto, auto);
}

.sidbar{
  grid-column: 1/3;
  background-color: red;
  height: 100vh;
  grid-row: 1;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

.sidebar-items{
  list-style: none;
  padding: 0;
}

.logo{
  width: 100%;
  height: 100%;
}

.sidebar-items li:first-of-type{
  margin-bottom: 30px;
}

.sidebar-items li a, .dropdown-btn{
  text-align: left;
  background: transparent;
  border: none;
  text-decoration: none;
  color: black;
  display:block;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}

.pageContaint{
  grid-column: 3/13;
  padding-left: 20px;
}
