
  body{
    margin: 00;
    padding: 00;
    background-color: grey;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #registreform{
    width: 35vw;
    height: 85vh;
    background: rgba(225, 225, 225, .5);
    margin: auto;
    margin-top: 5vh;
    border-top: 4px solid red;
    padding: 25px;
    margin-left: 30vw;
  }
  #registreform h5{
    margin: 0;
    color: black;
    font-size: 20px;
    text-align: center;
    height: 40px;
    border-bottom: 1px solid;
    margin-bottom: 30px;
  }
  .txtbox1{
    width: 100%;
    border: none;
    border-bottom: 1px solid red;
    background:transparent;
    font-size: 14px;
    padding: 15px 4px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .txtbox1:focus{
    outline: inherit;
  }
  #btn{
    border: none;
    width: 103%;
    height: 42px;
    background: red;
    color: wheat;
    font-weight: bold;
    margin-bottom: 30px;
  }
  #registreform a{
    text-decoration: none;
    color: black;
    font-family: arial;
    font-size: 15px;
  }
