<ng-include src="urlNavbar"  class="sidbar"></ng-include>
<main class="main">
    <div class="mainclass">
      <div class="apropos">
        apropos
      </div>
      <div class="sary">
        <img src="assets/images/cotisse.jpg" alt="">
      </div>
    </div>
  </main>
