<link rel="stylesheet" href="assets/css/connection.css">
      <div id='LoginForm'>
        <h6>Login</h6>
        <ng-form>
          <input class="txt1" type="text" ng-model="email" placeholder="User"/>
          <input class="txt1" type="password" ng-model="motdepasse" placeholder="password"/>
          <input id="Button1" type="button" ng-model="connection" ng-click="connect()" placeholder="Connect" value="Login"/>
        </ng-form>
      </div>
