<ng-include src="urlNavbar"  class="sidbar"></ng-include>
<main class="main">
    <div class="container3">
        <form id="contact" action="" method="post">
          <h3>Ajouter un extra</h3>
          <fieldset>
            <input placeholder="Nom de l'extra(ex: eau, couverture, ...)" ng-model = "nom" type="text" tabindex="1" required autofocus>
          </fieldset>
          <fieldset>
            <input placeholder="Tarif" ng-model="tarif" type="text" tabindex="2" required>
          </fieldset>
          <fieldset>
            <input placeholder="Détails, remarques" ng-model="remarque" type="text" tabindex="3" required>
          </fieldset>
          <fieldset>
            <button name="submit" type="submit" ng-click="ajouterExtra(nom, tarif, remarque)" value = "Ajouter"  id="contact-submit" data-submit="...Sending">Ajouter</button>
          </fieldset>
          <fieldset>
            <button name="submit" type="submit" ng-click="initialize()" value = "Annuler" id="contact-submit" data-submit="...Sending">Annuler</button>
          </fieldset>
        </form>
      </div>
</main>
