<ng-include src="urlNavbar"  class="sidbar"></ng-include>

<main class="main">
    <table class="table" ng-init = "getExtras()">
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Tarif</th>
            <th scope="col">Remarque</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat = "extra in extras">
            <td>{{extra.nom}}</td>
            <td>{{extra.tarif}}</td>
            <td class = "text-right">{{extra.remarque}}</td>
          </tr>
        </tbody>
      </table>
</main>
