<link rel="stylesheet" href="assets/css/inscription.css">
<div id="registreform">
  <h5>Sign up</h5>
  <form class="" action="index.html" method="post">
    <input class="txtbox1" type="text" placeholder="First name" value="">
    <input class="txtbox1" type="text" placeholder="Last name" value="">
    <input class="txtbox1" type="date" placeholder="Birth" value="">
    <input type="radio" name="sexe" value="Homme"><label>male</label>
    <input type="radio" name="sexe" value="Femme"><label>female</label>
    <input class="txtbox1" type="text" placeholder="contact" value="">
    <input class="txtbox1" type="text" placeholder="Email" value="">
    <input class="txtbox1" type="password" placeholder="Password" value="">

    <input id="btn" type="button" name="" value="Register">

    <a href="#!/connection">Already have an account?</a>
  </form>
</div>
