<div ng-controller="navCtrl">
    <ul class="sidebar-items">
        <li>
            <a>
                <img src="assets/images/logo-cotisse.png" alt="logo" class="logo">
            </a>
        </li>
        <li>
          <button class="dropdown-btn">Véhicules</button>
          <div class="dropdown-container">
            <a href="#!/vehicule">Insertion voiture</a>
            <a href="#!/vehiculeList">List voiture</a>
          </div>
        </li>
        <li>
            <button class="dropdown-btn">Trajets</button>
            <div class="dropdown-container">
              <a href="#!/trajet">Insertion trajets</a>
              <a href="#!/trajetList">List trajets</a>
            </div>
        </li>
        <li>
            <button class="dropdown-btn">Voyages</button>
            <div class="dropdown-container">
              <a href="#!/voyage">Insertion voyage</a>
              <a href="#!/voyageList">List voyage</a>
            </div>
        </li>
        <li>
            <button class="dropdown-btn">Réservations</button>
            <div class="dropdown-container">
              <a href="#!/reservation">Liste des réservations</a>
            </div>
        </li>
        <li>
            <button class="dropdown-btn">Extras</button>
            <div class="dropdown-container">
              <a href="#!/Extra">Insertion Extra</a>
              <a href="#!/ExtraList">List Extra</a>
            </div>
        </li>
        <li>
            <a href="#!/dashboard">Tableau de bord</a>
        </li>
        <li>
            <a href="#!/deconnection">Déconnection</a>
        </li>
    </ul>
</div>
