<ng-include src="urlNavbar"  class="sidbar"></ng-include>
<main class="main">
    <div class="container3">
    <div>
      <table ng-init = "listeReservations()" ng-model="liste">
        <thead>
          <tr>
            <th>Date du voyage</th>
            <th>Départ</th>
            <th>Arrivée</th>
            <th>Client</th>
            <th>Nombre de places</th>
            <th>Voir détails</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="reservation in reservations">
            <td>{{reservation.dateVoyage |date:'dd/MM/yyyy' }}</td>
            <td>{{reservation.depart}}</td>
            <td>{{reservation.arrivee}}</td>
            <td>{{reservation.client}}</td>
            <td>{{reservation.nbPlaces}}</td>
            <td><button ng-click="getDetails(reservation.client, reservation.idvoyage)">Détails</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </main>
