<ng-include src="urlNavbar"  class="sidbar"></ng-include>
<main class="main">
  <div id = "graphTrajet">
    <div class="chart-wrap">
        <h1>Nombre de place par mois par trajet</h1>
        <canvas id="nbPlace"></canvas>
        <canvas id="bar" class="chart chart-bar"
            chart-data="data" chart-labels="labels" chart-series="series">
        </canvas>
    </div>
  </div>
  <div style="width: 500px; height: 300px;">
    <canvas id="doughnut" class="chart chart-doughnut"
      chart-data="data" chart-labels="labels">
    </canvas>
  </div>
</main>
