<ng-include src="urlNavbar"  class="sidbar"></ng-include>
<main class="main">
<div class="container2">
  <div class="container3">
    <form id="contact" action="" method="post">
      <h3>Ajout d'un trajet</h3>
      <fieldset>
        <input placeholder="Lieu de départ(Antananarivo, Toamasina, ...)" ng-model = "depart" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Lieu d'arrivée(Mahajanga, ...)" ng-model="arrivee" type="text" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Distance entre lieu de départ et d'arrivée(en km)" ng-model="distance" type="text" tabindex="3" required>
      </fieldset>
      <fieldset>
        <input placeholder="durée(ex:08:30:00, 06:15:00, 19:30:00)" ng-model="duree" type="text" tabindex="4" required>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" ng-click="ajouterTrajet(depart, arrivee, distance, duree)" value = "Ajouter" id="contact-submit" data-submit="...Sending"> Ajouter</button>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" ng-click="annuler()" value = "Annuler" id="contact-submit" data-submit="...Sending">Annuler</button>
      </fieldset>
    </form>
  </div>
</main>
