<ng-include src="urlNavbar"  class="sidbar"></ng-include>
<main class="main">
<div>
  <table ng-init = "listeTrajets()">
    <thead>
      <tr>
        <th>Départ</th>
        <th>Arrivée</th>
        <th>Distance</th>
        <th>Durée</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "trajet in trajets">
        <td>{{trajet.depart}}</td>
        <td>{{trajet.arrivee}}</td>
        <td>{{trajet.distance}}</td>
        <td>{{trajet.duree}}</td>
      </tr>
    </tbody>
  </table>
</div>
</main>
