<ng-include src="urlNavbar"  class="sidbar"></ng-include>
<main class="main">
  <div class="container3">
    <form id="contact" action="" method="post">
      <h3>Ajout d'un vehicule</h3>
      <fieldset>
        <input placeholder="Immatriculation" ng-model = "immatriculation" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Marque" ng-model="marque" type="text" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Nombre de places" ng-model="places" type="text" tabindex="3" required>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" ng-click="ajouterVehicule(immatriculation, marque, places)" value = "Ajouter"  id="contact-submit" data-submit="...Sending">Ajouter</button>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" ng-click="initialize()" value = "Annuler" id="contact-submit" data-submit="...Sending">annuler</button>
      </fieldset>
    </form>
  </div>
</main>
