<ng-include src="urlNavbar"  class="sidbar"></ng-include>
<main class="main">
<div>
  <table class="table" ng-init = "listeVehicules()">
    <thead>
      <tr>
        <th scope="col">Immatriculation</th>
        <th scope="col">Marque</th>
        <th scope="col">Capacité</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "vehicule in vehicules">
        <td>{{vehicule.id}}</td>
        <td>{{vehicule.marque}}</td>
        <td>{{vehicule.capacite}}</td>
      </tr>
    </tbody>
  </table>
</div>
</main>
