<ng-include src="urlNavbar"  class="sidbar"></ng-include>
<main class="main" ng-init = "initialize()">
  <div class="container2">
    <div class="container3">
      <form id="contact" action="" method="post">
        <h3>ajout d'un voyage</h3>
        <fieldset>
          <select ng-model = "trajet">
            <option ng-repeat = "trajet in trajets" value = "{{trajet.id}}">{{trajet.depart}} - {{trajet.arrivee}}</option>
          </select>
        </fieldset>
        <fieldset>
          <select ng-model = "voiture">
            <option ng-repeat = "vehicule in vehicules" value = "{{vehicule.id}}">{{vehicule.id}}</option>
          </select>
        </fieldset>
        <fieldset>
          <select ng-model = "idchauffeur">
            <option ng-repeat = "chauffeur in chauffeurs" value = "{{chauffeur.id}}">{{chauffeur.nom + " " + chauffeur.prenoms}}</option>
          </select>
        </fieldset>
        <fieldset>
          <input placeholder="Date de départ" type="text" ng-model = "datevoyage" tabindex="1" required>
        </fieldset>
        <fieldset>
          <input placeholder="heure de depart" type="text" ng-model = "heurevoyage" tabindex="2" required>
        </fieldset>
        <fieldset>
          <fieldset>
            <input placeholder="Tarif"  ng-model = "tarif" type="text" tabindex="3" required>
          </fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" ng-click="ajouterVoyage(datevoyage, heurevoyage, idchauffeur, tarif, trajet, voiture)">Ajouter</button>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">annuler</button>
        </fieldset>
      </form>
    </div>
  </main>
