<ng-include src="urlNavbar"  class="sidbar"></ng-include>
<main class="main" ng-init = "initialize()">
<div>
  <table ng-init = "listeVoyages()">
    <thead>
      <tr>
        <th>Départ</th>
        <th>Arrivée</th>
        <th>Date de voyage</th>
        <th>Véhicule</th>
        <th>Chauffeur</th>
        <th>Tarif</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "voyage in voyages">
        <td>{{voyage.depart}}</td>
        <td>{{voyage.arrivee}}</td>
        <td>{{voyage.dateVoyage}}</td>
        <td>{{voyage.vehicule}}</td>
        <td>{{voyage.chauffeur}}</td>
        <td>{{voyage.tarif}}</td>
        <td><button ng-click = "annulerVoyage(voyage.id)">Annuler</button></td>
      </tr>
    </tbody>
  </table>
</div>
</main>
